body = ".page-content, .app-page-container"
appBody = ".app-body"
navigation = ".page-menu"
navigationItem = ".page-menu ul li a"
activeNavigationItem = ".page-menu ul li.active a"
heading = "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6"
divider = "hr"
panel = ".panel"
listGroupItem = ".list-group-item"
listGroupButton = "button.list-group-item"
tableItem = "td"
token = ".token"
buttonLink = ".btn-link:not(.dropdown-toggle)"
buttonDefault = ".btn-default:not(.this-year-nav-button, .composer *, .project-feedback-header-right .btn-default, .project-feedback-header-button *)"
buttonPrimary = ".btn-primary"
indexCardCircleBackground = ".media-circle-background-circle"
indexCardIcon = ".claro-index-card .media-left .media-circle-content"
dropdownToggleButton = ".dropdown-toggle"
dropdownMenu = ".dropdown-menu"
dropdownItem = ".dropdown-menu>li:not(.active)>a"
dropdownToggle = ".dropdown-toggle:not(.page-menu *, .project-feedback-asset-switcher-selector)"
floatingGoalPanel = ".goal-panel"
userProfileAvatar = ".avatar-profile"
modal = ".modal-content"
modalText = ".modal-body"
modalHeaderContainer = ".modal-header"
modalFooterContainer = ".modal-footer"
loadingSpinner = ".loading-indicator-icon"
tabActive = ".nav-tabs>li.active>a, .nav-tabs>li.active>a:focus"
panelFooter = ".panel-footer"

// Selector is this long in original source code (other than :not statements)
formElement = ".app textarea:not(.composer textarea), .app textarea.form-control:not(.composer textarea), .app input.form-control:not(.composer textarea), .app input[type=text]:not(.typeahead-input):not([data-bootstrap-override=inputfield]), .app input[type=password]:not([data-bootstrap-override=inputfield]), .app input[type=email]:not([data-bootstrap-override=inputfield]), .app input[type=number]:not([data-bootstrap-override=inputfield]), .app [type=text].form-control, .app [type=password].form-control, .app [type=email].form-control, .app [type=tel].form-control, .app [contenteditable].form-control, .app .rbt-input.form-control, .app select.form-control"
selectFormOption = ".app select.form-control option"


//? Bonus pages like college/resources tabs
rangeContainer = ".range-holder.progress"
rangeLower = ".range-holder.progress .range-left"
rangeMiddle = ".range-holder.progress .range-middle" 
rangeLabel = ".range-label-start, .range-label-finish"
checkboxListGroup = ".selectivity-content .list-group li label"
checkboxFormListLabels = ".list-unstyled label"
standardizedTestScoreGoalEmpty = ".studentcollege .pane-scores .scoregoal-unentered .progress-bar:last-child:before"

//? Notification drawer
notificationDrawerBackground = "#notifications-popover .popover-content, .notifications-header, .notification-item, .list-group-item"
notificationDrawerHeader = ".notifications-header"
notificationDrawerUnseen = ".notification-item.notification-item-unread"
notificationDrawerUnseenTitle = ".notification-item.notification-item-unread .notification-item-content span"
notificationDrawerSeenTitle = ".notification-item:not(.notification-item-unread) .notification-item-content span"
notificationDrawerSubtitle = ".notification-item-subtitle"
notificationDrawerArrow = ".popover.top > .arrow::after"

//? Mentor checkin drawer
mentorCheckinDrawerContainer = ".right-screen-flyout-content"
mentorCheckinDrawerFooter = ".mentor-checkin-footer"
mentorCheckinDrawerToggleButton = ".right-screen-flyout .right-screen-flyout-control"
mentorCheckinDrawerOpenButtonIcon = ".right-screen-flyout.collapsed .right-screen-flyout-control .continue-editing"