body = ".page-content"
appBody = ".app-body"
navigation = ".page-menu"
navigationItem = ".page-menu ul li a"
activeNavigationItem = ".page-menu ul li.active a"
heading = "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6"
panel = ".panel"
listGroupItem = ".list-group-item"
listGroupButton = "button.list-group-item"
tableItem = "td"
token = ".token"