announcementContainer = ".announcement"
announcementBody = ".announcement-body"
announcementBodyUnseen = ".announcement-body.unseen"
announcementText = ".announcement-body p"
announcementLink = ".announcement-body a"
announcementCourseNameBadge = ".announcements-page .panel-body .announcement .announcement-body .badge.audience"
