// Top Bar
CheckpointTitle = '.project-feedback-header-container, .project-feedback-header'
CheckpointHead = '.platform-doc-header'
CheckpointHeadTitle = '.platform-doc-header-start, .platform-doc-title, .platform-doc-title-body'
// Body 
CheckpointBody = '.czi-editor-frame-body'


CheckpointFocusNav = '.project-feedback-dimension-navigator'
CheckpointFocus = '.project-feedback-dimension-navigator-topbar'
CogSkills  = '.project-feedback-dimension-navigator-list'
CogSkillsTitle = '.project-feedback-dimension-navigator-drilldown-topbar'
CogSkillsContent = '.project-feedback-dimension-navigator-drilldown-content'

CogSkillScoreNumber = '.project-feedback-dimension-navigator-drilldown-generic-indicators-context'
CogSkillScoreContainer = '.project-feedback-dimension-navigator-score-container'

CogSkillScoreDetail = '.project-feedback-dimension-navigator-drilldown-generic-indicators-content'
CogSkillScoreDetailDivider = '.project-feedback-dimension-navigator-drilldown-divider'
