diagnosticPanel = ".focusarea-left-column > .playlist-panel"
introductionPanel = ".collapsible-double-panels > .panel"
objective = ".focusarea-objectives > .collapsible-double-panels > div"
requestPanel = ".focusarea-content-assessments-panel"

masterContentMessage = '.focusarea-isready-megaphone'