diagnosticPanel = ".focusarea-left-column > .playlist-panel"
introductionPanel = ".collapsible-double-panels > .panel"
objective = ".focusarea-objectives > .collapsible-double-panels > div"
requestPanel = ".focusarea-content-assessments-panel"

masterContentMessage = '.focusarea-isready-megaphone.alert-success, .focusarea-isready-megaphone.alert-success .megaphone-body, .focusarea-isready-megaphone.alert-success .focusarea-mastery-container'

focusAreaInfoText = ".focusarea-header-content-wrap-html"
focusAreaInfoScoreNeededToPass = ".focusarea-section h4 + p"

focusAreaResourceContainer = ".playlist-resource-info .resources.list-group-item"
focusAreaResourceDescriptionText = ".resources-description"

focusAreaTourNub = ".nub.onboarding-nub"
focusAreaTourNubText = ".nub-content"

focusAreaSeeAllTakesLink = ".assessment-links .assessment-link"

scoreBadgeGreen = ".score-badge.passed"
scoreBadgeYellow = ".score-badge.almost-passed"
scoreBadgeRed = ".score-badge:not(.passed, .almost-passed, .get-started)"


seeAllTakesScoreTokenGreen = ".focusarea-all-takes .mastered"
seeAllTakesScoreTokenRed = ".focusarea-all-takes .failed"