courseName = ".course-name"
progressActivityPrimary = ".activity-feed-event-title > p > span > span"
composer = ".composer"
dropdown = ".dropdown-toggle"
textMuted = ".text-muted"
goalSummary = ".goal-summary-text"
letterGrade = ".letter-grade"
mentorCard = ".mentor-card-container > div > div"