progressCourseName = ".course-name"
progressActivityPrimary = ".activity-feed-event-title > p > span > span"
progressAddNoteComposer = ".composer"
progressNoteTextArea = ".composer textarea"
progressNoteCancelButton = ".composer .btn-default"
textMuted = ".text-muted"
progressWeeklyGoalSummaryLink = ".goal-summary-text"
progressLetterGrade = ".letter-grade"
progressGentorCardText = ".mentor-card-container :is(.mentor-card-name, .mentor-card-next-checkin)"
helpIcon = ".bslp-gpa-info-tooltip, .bslp-day-off-info-tooltip"
mentorNote = ".mentoring-note-permissions"

progressWeekSection = ".activity-feed-week-group"
progressFeedLine = ".activity-feed-line"
progressFeedLineStopIcon = ".activity-feed-icon-container .material-icons:not(.icon-green-compare, .icon-green-check, .icon-red-compare, .icon-red-returned, .icon-grey-compare, .icon-grey-chat)"
progressFeedLineGreenIcon = ".activity-feed-icon-container .material-icons:is(.icon-green-compare, .icon-green-check)"
progressFeedLineRedIcon = ".activity-feed-icon-container .material-icons:is(.icon-red-compare, .icon-red-returned)"
progressFeedLineGrayIcon = ".activity-feed-icon-container .material-icons:is(.icon-grey-compare, .icon-grey-chat)"

//? Grades modal
gradeSummaryGradingPolicyLink = ".grading-policy-link"
gradeSummaryTabsContainer = ".grade-summary-v3 .tabs"
gradeSummarySelectedTabContainer = ".selected-tab-container"
gradeSummaryProjectsTabDivider = ".selected-tab-container .border-wrapper"
gradeSummaryFocusAreaTabAreaCount = ".fa-section div.fa-col p"
gradeSummaryBreakdownTable = ".grade-overview-table"
gradeSummaryPieChart = ".grade-overview-container .chartjs-render-monitor"
gradeSummaryPieChartTotalGradeText = ".grade-chart-summary > div > span:nth-of-type(2)"
cogNumber = ".cog-number"
skillPill = ".skill-pill"
todayText = ".fa-pill-bold"
