courseName = ".course-name"
progressActivityPrimary = ".activity-feed-event-title > p > span > span"
composer = ".composer"
dropdown = ".dropdown-toggle"
textMuted = ".text-muted"
goalSummary = ".goal-summary-text"
letterGrade = ".letter-grade"
mentorCard = ".mentor-card-container > div > div"

progressWeekSection = ".activity-feed-week-group"
progressFeedLine = ".activity-feed-line"
progressFeedLineStopIcon = ".activity-feed-icon-container .material-icons:not(.icon-green-compare, .icon-green-check, .icon-red-compare, .icon-red-returned, .icon-grey-compare, .icon-grey-chat)"
progressFeedLineGreenIcon = ".activity-feed-icon-container .material-icons:is(.icon-green-compare, .icon-green-check)"
progressFeedLineRedIcon = ".activity-feed-icon-container .material-icons:is(.icon-red-compare, .icon-red-returned)"
progressFeedLineGrayIcon = ".activity-feed-icon-container .material-icons:is(.icon-grey-compare, .icon-grey-chat)"