// Teacher Announcement Scoreboard
alertInfo = '.alert-info'
megaPhoneContainer = '.megaphone-container'
megaPhoneControls = '.megaphone-controls'

// Checkpoint Nav Bar
checkpointNavBar = '.project-day-to-day-side-nav-items-column, .project-day-to-day-side-nav-item'
checkpointSelected = '.project-day-to-day-side-nav-item-theme-default.selected'
checkpointDisplayingFeedback = '.displaying-feedback'
CheckpointGradeScore = '.project-feedback-dimension-navigator-score-token'

// Checkpoint Card Containers 
checkpointCardContainer = '.project-asset-card, .assigned-asset-status'
checkpointIconContainer = '.project-asset-card-icon-container'
checkpointTextContainer = '.project-asset-card-text-container'
checkpointStatusContainer = '.project-asset-card-status-container'
checkpointCopyPasteOldWorkWarning = ".project-asset-copy-old-work-prompt"

// Checkpoint Text Card 
textCardTitle = '.project-asset-card-title-link'
textCardDescription = '.rich-text-note-editor'

// Checkpoint Status Card 
feedbackGivenText = '.project-feedback-actions-text'
feedbackGivenIcon = '.project-status-feedback-given > svg' // Warning Icon for 'Finish your work'

projectNavDivider = ".project-overview-page .claro-col-left"

projectNav = ".project-page-nav"
projectOverviewTeacher = ".project-overview-teacher-content-body"

// Checkpoint Text Bottom Details 
projectToken = ".project-dimensions-explanation-section .token"

// Checkpoint colors
checkpointGreenIcon = ".green i.media-circle-background-circle"
checkpointYellowIcon = ".yellow i.media-circle-background-circle"
checkpointRedIcon = ".red i.media-circle-background-circle"