// Teacher Announcement Scoreboard
alertInfo = '.alert-info'
megaPhoneContainer = '.megaphone-container'
megaPhoneControls = '.megaphone-controls'

// Checkpoint Nav Bar
checkpointNavBar = '.project-day-to-day-side-nav-items-column, .project-day-to-day-side-nav-item'
checkpointSelected = '.project-day-to-day-side-nav-item-theme-default.selected'
checkpointDisplayingFeedback = '.displaying-feedback'

// Checkpoint Card Containers 
checkpointCardContainer = '.project-asset-card, .assigned-asset-status'
checkpointIconContainer = '.project-asset-card-icon-container'
checkpointTextContainer = '.project-asset-card-text-container'
checkpointStatusContainer = '.project-asset-card-status-container'


// Checkpoint Text Card 
textCardTitle = '.project-asset-card-title-link'
textCardDescription = '.rich-text-note-editor'

// Checkpoint Status Card 
feedbackGivenText = '.project-feedback-actions-text'
feedbackGivenIcon = '.ZnfHxeMZ_MluWqfJkWbu' // Warning Icon for 'Finish your work'
