calendarToday = ".sdl-week-calendar-today"
goalModal = ".popover-content, .sdl-goal-popover, .sdl-goal-popover-create"
goalModalText = ".step-text"
goalModalInput = ".sdl-goal-popover-input, .sdl-goal-popover-input > div > textarea"
goalModalForm = ".form-control"
goalModalFormPlaceholder = ".form-control::placeholder"
goalCreateButton = ".create-goal-button"
goalStep = ".sdl-goal-popover-steps"
goalModalFooter = ".sdl-goal-popover-footer"
goalChild = ".sdl-goal-popover-child"