calendarToday = ".sdl-week-calendar-today"
goalModal = ".popover-content, .sdl-goal-popover, .sdl-goal-popover-create"
goalModalText = ".step-text"
goalModalInput = ".sdl-goal-popover-input, .sdl-goal-popover-input > div > *"
goalModalTextarea = "textarea.form-control, textarea.form-control::placeholder"