weekCalendarTodayHighlight = ".sdl-week-calendar-today"
weekGoalPopover = ".popover-content, .sdl-goal-popover, .sdl-goal-popover-create"
goalPopoverText = ".step-text"
goalPopoverInputContainer = ".sdl-goal-popover-input, .sdl-goal-popover-input > div > textarea"
goalPopoverInputForm = ".form-control"
goalPopoverFooter = ".sdl-goal-popover-footer"
goalPopoverCreateButton = ".create-goal-button"
goalPopoverStepContainer = ".sdl-goal-popover-steps"
goalChild = ".sdl-goal-popover-child" // idk what this is -gavin