yearFocusAreaDefault = ".focusarea-list-item-content.default"
yearFocusAreaGreen = ".focusarea-list-item-content.success"
yearFocusAreaYellow = ".focusarea-list-item-content.warning"
yearFocusAreaRed = ".focusarea-list-item-content.danger"

yearProjectDefault = ".project:not(.success,.warning,.danger)"
yearProjectGreen = ".project.success"
yearProjectYellow = ".project.warning"
yearProjectRed = ".project.danger"

yearMonthsHeader = ".months-header > li > h2"
yearCogSkillAverage = ".courserow-score-text"
yearHorizontalScrollButton = ".nav-button-container .this-year-nav-button"

yearTooltip = ".courserow-tooltip .tooltip-inner"