.better-slp-dark-mode-container {
  /*WHITE TEXT COLOR*/
  /*GRAY TEXT*/
  /*Default*/
  /*Year buttons*/
  /*REMOVE BOX SHADOW*/
  /*REMOVE BACKGROUND COLOR*/
  /*BORDER COLOR*/
  /*Theme Color*/
}

.better-slp-dark-mode-container :root {
  --pie-bgcol: rgb(44,44,44) !important;
}

.better-slp-dark-mode-container .page-content-body {
  background: #121212 !important;
}

.better-slp-dark-mode-container .panel,
.better-slp-dark-mode-container .courserow-tooltip.tooltip .tooltip-inner,
.better-slp-dark-mode-container .sdl-course-grades button, .better-slp-dark-mode-container .sdl-course-grades .grade-header,
.better-slp-dark-mode-container .pie-chart-gav div,
.better-slp-dark-mode-container .announcement {
  background: #1d1d1d !important;
}

.better-slp-dark-mode-container .goal-panel,
.better-slp-dark-mode-container .sdl-course-grades button:hover,
.better-slp-dark-mode-container .sdl-goal-popover,
.better-slp-dark-mode-container .sdl-goal-popover-create,
.better-slp-dark-mode-container .sdl-goal-popover-footer {
  background: #2C2C2C !important;
}

.better-slp-dark-mode-container .sdl-week-calendar-today,
.better-slp-dark-mode-container .announcement-body,
.better-slp-dark-mode-container .dropdown-menu,
.better-slp-dark-mode-container .focusarea .selected-panel .panel {
  background: #242424 !important;
}

.better-slp-dark-mode-container .announcement-body-text .audience.badge,
.better-slp-dark-mode-container .dropdown-menu > li:not(.active) > a:hover, .better-slp-dark-mode-container .dropdown-menu > li:not(.active) > a:focus {
  background: #353535 !important;
}

.better-slp-dark-mode-container .app-title,
.better-slp-dark-mode-container .fa-data-title,
.better-slp-dark-mode-container .app-subheading.courserow-details-course-heading,
.better-slp-dark-mode-container .courserow-details-course-link-heading,
.better-slp-dark-mode-container .courserow-tooltip.tooltip .tooltip-inner,
.better-slp-dark-mode-container .mentor-checkin-prework-reminder-title,
.better-slp-dark-mode-container .app-heading,
.better-slp-dark-mode-container .media-circle-content,
.better-slp-dark-mode-container .project-overview-heading .app-subheading .project-asset-title,
.better-slp-dark-mode-container .project-overview-section .project-overview-heading .app-subheading,
.better-slp-dark-mode-container .project-lesson-media-block-icon,
.better-slp-dark-mode-container .needs-revision-popover strong,
.better-slp-dark-mode-container .app-subheading.project-overview-section,
.better-slp-dark-mode-container .app-compact-content-heading,
.better-slp-dark-mode-container .project-asset-card-title-link span,
.better-slp-dark-mode-container .project-plans-overview-content .app-subheading:not(.project-overview-section),
.better-slp-dark-mode-container .claro-index-card .app-subheading,
.better-slp-dark-mode-container .sdl-goal-popover .app-tertiaryheading,
.better-slp-dark-mode-container .app-page-title * {
  color: #ffffff !important;
  -webkit-text-decoration-color: #cccccc !important;
          text-decoration-color: #cccccc !important;
}

.better-slp-dark-mode-container .app-tertiaryheading .courserow-header,
.better-slp-dark-mode-container .app-tertiaryheading,
.better-slp-dark-mode-container .project-asset-card.secondary .project-asset-card-icon,
.better-slp-dark-mode-container .project-overview-heading .app-compact-content-heading:not(.token) {
  color: #b8b8b8 !important;
}

.better-slp-dark-mode-container .app-heading {
  color: #bdbdbd;
}

.better-slp-dark-mode-container .months-header li h2,
.better-slp-dark-mode-container .tutor-board-student-name,
.better-slp-dark-mode-container .tutor-board-sign-up-toggle label,
.better-slp-dark-mode-container .app-subheading,
.better-slp-dark-mode-container .announcement-details,
.better-slp-dark-mode-container .announcement-body-text p:not(.call-to-action),
.better-slp-dark-mode-container .dropdown-menu li:not(.active) a,
.better-slp-dark-mode-container .project-overview-section .rich-text-note-editor,
.better-slp-dark-mode-container .project-dimensions-explanation-section div:not(.token),
.better-slp-dark-mode-container .project-asset-card.secondary .project-asset-card-text-container .rich-text-note-editor,
.better-slp-dark-mode-container .claro-index-card span.text-muted,
.better-slp-dark-mode-container .sdl-goal-popover .compact-btn-link span,
.better-slp-dark-mode-container .sdl-goal-popover-input textarea::-webkit-input-placeholder,
.better-slp-dark-mode-container div.tutor-board-sign-up-overlay-trigger .pull-right .text-muted {
  color: #b1b1b1 !important;
}

.better-slp-dark-mode-container .months-header li h2,
.better-slp-dark-mode-container .tutor-board-student-name,
.better-slp-dark-mode-container .tutor-board-sign-up-toggle label,
.better-slp-dark-mode-container .app-subheading,
.better-slp-dark-mode-container .announcement-details,
.better-slp-dark-mode-container .announcement-body-text p:not(.call-to-action),
.better-slp-dark-mode-container .dropdown-menu li:not(.active) a,
.better-slp-dark-mode-container .project-overview-section .rich-text-note-editor,
.better-slp-dark-mode-container .project-dimensions-explanation-section div:not(.token),
.better-slp-dark-mode-container .project-asset-card.secondary .project-asset-card-text-container .rich-text-note-editor,
.better-slp-dark-mode-container .claro-index-card span.text-muted,
.better-slp-dark-mode-container .sdl-goal-popover .compact-btn-link span,
.better-slp-dark-mode-container .sdl-goal-popover-input textarea:-ms-input-placeholder,
.better-slp-dark-mode-container div.tutor-board-sign-up-overlay-trigger .pull-right .text-muted {
  color: #b1b1b1 !important;
}

.better-slp-dark-mode-container .months-header li h2,
.better-slp-dark-mode-container .tutor-board-student-name,
.better-slp-dark-mode-container .tutor-board-sign-up-toggle label,
.better-slp-dark-mode-container .app-subheading,
.better-slp-dark-mode-container .announcement-details,
.better-slp-dark-mode-container .announcement-body-text p:not(.call-to-action),
.better-slp-dark-mode-container .dropdown-menu li:not(.active) a,
.better-slp-dark-mode-container .project-overview-section .rich-text-note-editor,
.better-slp-dark-mode-container .project-dimensions-explanation-section div:not(.token),
.better-slp-dark-mode-container .project-asset-card.secondary .project-asset-card-text-container .rich-text-note-editor,
.better-slp-dark-mode-container .claro-index-card span.text-muted,
.better-slp-dark-mode-container .sdl-goal-popover .compact-btn-link span,
.better-slp-dark-mode-container .sdl-goal-popover-input textarea::-ms-input-placeholder,
.better-slp-dark-mode-container div.tutor-board-sign-up-overlay-trigger .pull-right .text-muted {
  color: #b1b1b1 !important;
}

.better-slp-dark-mode-container .months-header li h2,
.better-slp-dark-mode-container .tutor-board-student-name,
.better-slp-dark-mode-container .tutor-board-sign-up-toggle label,
.better-slp-dark-mode-container .app-subheading,
.better-slp-dark-mode-container .announcement-details,
.better-slp-dark-mode-container .announcement-body-text p:not(.call-to-action),
.better-slp-dark-mode-container .dropdown-menu li:not(.active) a,
.better-slp-dark-mode-container .project-overview-section .rich-text-note-editor,
.better-slp-dark-mode-container .project-dimensions-explanation-section div:not(.token),
.better-slp-dark-mode-container .project-asset-card.secondary .project-asset-card-text-container .rich-text-note-editor,
.better-slp-dark-mode-container .claro-index-card span.text-muted,
.better-slp-dark-mode-container .sdl-goal-popover .compact-btn-link span,
.better-slp-dark-mode-container .sdl-goal-popover-input textarea::placeholder,
.better-slp-dark-mode-container div.tutor-board-sign-up-overlay-trigger .pull-right .text-muted {
  color: #b1b1b1 !important;
}

.better-slp-dark-mode-container h3.courserow-header,
.better-slp-dark-mode-container h2.app-subtitle,
.better-slp-dark-mode-container .courserow-details-skillrow,
.better-slp-dark-mode-container .courserow-scores-score,
.better-slp-dark-mode-container .claro-standard-layout-page .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-arrow,
.better-slp-dark-mode-container .app-page-title-aux,
.better-slp-dark-mode-container .needs-revision-popover,
.better-slp-dark-mode-container .announcement-body-text .audience.badge,
.better-slp-dark-mode-container .sdl-week-calendar thead .app-tertiaryheading,
.better-slp-dark-mode-container .resource-panel h4,
.better-slp-dark-mode-container .courserow-score-text,
.better-slp-dark-mode-container .resources.list-group-item,
.better-slp-dark-mode-container .resources-description,
.better-slp-dark-mode-container .focusarea-header-content-wrap,
.better-slp-dark-mode-container .focusarea-right-column .focusarea-attempts .focusarea-section p {
  color: #9a9a9a !important;
}

.better-slp-dark-mode-container div.courserow-info.col-md-2 > div.col-wrapper > span > div *,
.better-slp-dark-mode-container .announcements ul li h2,
.better-slp-dark-mode-container .announcement-title,
.better-slp-dark-mode-container .resource-panel h3,
.better-slp-dark-mode-container .tutor-board-list-item.list-group-item .tutor-board-list-item-content.clearfix .tutor-board-student-name {
  color: #e9e9e9 !important;
}

.better-slp-dark-mode-container .collapsible-double-panels .top-panel .objective-heading *,
.better-slp-dark-mode-container .assessment-panel .app-subheading,
.better-slp-dark-mode-container .focusarea-right-column .focusarea-attempts .focusarea-section .app-tertiaryheading {
  color: #d4d4d4 !important;
}

.better-slp-dark-mode-container .project-agenda-item-list-item-header-info .time {
  color: #494949;
}

.better-slp-dark-mode-container .project-asset-icon.material-icons-default,
.better-slp-dark-mode-container .sdl-goal-popover-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(255, 255, 255, 0.35) !important;
  color: rgba(255, 255, 255, 0.35) !important;
}

.better-slp-dark-mode-container .project-day-to-day-side-nav-item-theme-default .media-circle-background-circle,
.better-slp-dark-mode-container .media-circle.large-icon .media-circle-background-circle,
.better-slp-dark-mode-container .claro-index-card .media-circle-background-circle {
  background: rgba(255, 255, 255, 0.1) !important;
}

.better-slp-dark-mode-container .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.green .media-circle-background-circle {
  background: rgba(143, 255, 149, 0.3) !important;
}

.better-slp-dark-mode-container .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.yellow .media-circle-background-circle {
  background: rgba(245, 255, 100, 0.342) !important;
}

.better-slp-dark-mode-container .project-day-to-day-side-nav-item-theme-default .project-day-to-day-side-nav-item-left-aligned-content.red .media-circle-background-circle {
  background: rgba(255, 117, 117, 0.384) !important;
}

.better-slp-dark-mode-container .project-lesson-media-block-objective,
.better-slp-dark-mode-container .needs-revision-popover {
  background: #242424 !important;
}

.better-slp-dark-mode-container .needs-revision-popover > .arrow:after {
  border-bottom-color: #242424 !important;
}

.better-slp-dark-mode-container .project-agenda-timeline-item-icon-background,
.better-slp-dark-mode-container .project-agenda-timeline-item-line-1,
.better-slp-dark-mode-container .project-agenda-timeline-item-line-2 {
  background: #2C2C2C !important;
}

.better-slp-dark-mode-container .default,
.better-slp-dark-mode-container .courserow-list-item-content-default:not(.success):not(.warning):not(.danger),
.better-slp-dark-mode-container .project-day-to-day-side-nav-item-new-feedback-token,
.better-slp-dark-mode-container .project-overview-section .token,
.better-slp-dark-mode-container .project-lesson-media-block-icon-background-circle,
.better-slp-dark-mode-container .focusarea-diagnostic-btn button,
.better-slp-dark-mode-container .token-display-only {
  background: rgba(255, 255, 255, 0.068) !important;
  color: #c4c4c4 !important;
}

.better-slp-dark-mode-container .success,
.better-slp-dark-mode-container .alert-success {
  background: #263b2e !important;
  color: #7ecd9d !important;
}

.better-slp-dark-mode-container .success i {
  background: #21914c !important;
}

.better-slp-dark-mode-container .warning {
  background: #3a3b26 !important;
  color: #e8ec9c !important;
}

.better-slp-dark-mode-container .warning i {
  background: #8c9121 !important;
}

.better-slp-dark-mode-container .danger {
  background: #4a2521 !important;
  color: #eca49c !important;
}

.better-slp-dark-mode-container .danger i {
  background: #912c21 !important;
}

.better-slp-dark-mode-container .claro-standard-layout-page .claro-this-year .this-year-outer .this-year-fade.right,
.better-slp-dark-mode-container .courserow-info.widen,
.better-slp-dark-mode-container .courserow-tooltip.tooltip .tooltip-inner,
.better-slp-dark-mode-container .goal-drawer,
.better-slp-dark-mode-container .focusarea .selected-panel {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.better-slp-dark-mode-container .list-group-item,
.better-slp-dark-mode-container .tooltip-inner .app-heading,
.better-slp-dark-mode-container .sdl-goal-popover-input,
.better-slp-dark-mode-container .sdl-goal-popover-input textarea {
  background: none !important;
}

.better-slp-dark-mode-container hr,
.better-slp-dark-mode-container .table-bordered > thead > tr > th, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > thead > tr > th, .better-slp-dark-mode-container .assessmentTake-question-text table > thead > tr > th, .better-slp-dark-mode-container .table-bordered > thead > tr > td, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > thead > tr > td, .better-slp-dark-mode-container .assessmentTake-question-text table > thead > tr > td, .better-slp-dark-mode-container .table-bordered > tbody > tr > th, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > tbody > tr > th, .better-slp-dark-mode-container .assessmentTake-question-text table > tbody > tr > th, .better-slp-dark-mode-container .table-bordered > tbody > tr > td, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > tbody > tr > td, .better-slp-dark-mode-container .assessmentTake-question-text table > tbody > tr > td, .better-slp-dark-mode-container .table-bordered > tfoot > tr > th, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > tfoot > tr > th, .better-slp-dark-mode-container .assessmentTake-question-text table > tfoot > tr > th, .better-slp-dark-mode-container .table-bordered > tfoot > tr > td, .better-slp-dark-mode-container .assessmentTake-question-response .response-label .response-content table > tfoot > tr > td, .better-slp-dark-mode-container .assessmentTake-question-text table > tfoot > tr > td,
.better-slp-dark-mode-container .courserow-info.widen.months,
.better-slp-dark-mode-container .margin-vert-10,
.better-slp-dark-mode-container .project-day-to-day-side-nav-item,
.better-slp-dark-mode-container .claro-col-right,
.better-slp-dark-mode-container .tutor-board-list-item.list-group-item,
.better-slp-dark-mode-container div.project-asset-card.primary,
.better-slp-dark-mode-container .media.project-lesson-media-block-container,
.better-slp-dark-mode-container .bordered-list-card {
  border-color: #3e3e3e !important;
}

.better-slp-dark-mode-container .score-badge {
  border-color: #4d4d4d !important;
}

.better-slp-dark-mode-container .score-badge i {
  color: #474747 !important;
}

.better-slp-dark-mode-container .collapsible-double-panels .top-panel,
.better-slp-dark-mode-container .focusarea-left-column .playlist-panel:not(.objective-panel),
.better-slp-dark-mode-container .focusarea-left-column .collapsible-double-panels .bottom-panel .list-group {
  -webkit-box-shadow: 0px 0px 2px #868686 !important;
          box-shadow: 0px 0px 2px #868686 !important;
}

.better-slp-dark-mode-container .this-year-explore-courses, .better-slp-dark-mode-container .this-year-explore-courses:hover {
  border-top-color: #3e3e3e;
}

.better-slp-dark-mode-container .project-day-to-day-side-nav-item:not(.selected):hover {
  background: #2c2c2c !important;
}

.better-slp-dark-mode-container .app-body .avatar-profile {
  background: #2C2C2C !important;
}

.better-slp-dark-mode-container .app-body .avatar-profile svg g path {
  stroke: rgba(161, 161, 161, 0.363);
  stroke-width: 7px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.better-slp-dark-mode-container .upper-right-overlay .onboarding-nub {
  background: #1e2c2f !important;
  border-color: #3a545a !important;
}

.better-slp-dark-mode-container .upper-right-overlay .onboarding-nub .btn .nub-content {
  color: #5db8c6 !important;
}

.better-slp-dark-mode-container .project-asset-copy-old-work-prompt {
  background-color: #351c22 !important;
}

.better-slp-dark-mode-container .claro-standard-layout-page .claro-col-left {
  -webkit-box-shadow: 1px 0 0 #474747 !important;
          box-shadow: 1px 0 0 #474747 !important;
}

.better-slp-dark-mode-container .claro-standard-layout-page .claro-col-right {
  -webkit-box-shadow: -1px 0 0 #474747 !important;
          box-shadow: -1px 0 0 #474747 !important;
}

.better-slp-dark-mode-container .btn-link,
.better-slp-dark-mode-container .claro-standard-layout-page .sdl-time-selector .btn,
.better-slp-dark-mode-container .nav-tabs > li.active > a,
.better-slp-dark-mode-container .nav-tabs > li.active > a:focus,
.better-slp-dark-mode-container .app ul.nav-tabs > li:not(.active) > a:hover,
.better-slp-dark-mode-container .project-day-to-day-side-nav-item-new-feedback-token {
  /*228*/
  color: #5d72c6 !important;
}
/*# sourceMappingURL=dark-mode.css.map */