/*
 *DARK MODE

	All dark mode styles get nested inside of the html tag with the attribute of "bslp-dark".
	This is an attribute since its easy to add or remove when debugging in dev tools.
	Colors for design theme can be found in `helpers/colors.styl'.
	Selectors for styling go in its respective route in the `selectors` folder.
	Use `selectors/_global.styl` for selectors that are used on all routes.
	Only use simple values or things already in the design system.
	Only add to the design system if necessary

	Adhere to the material.io dark theme specification as best as possible:
	https://m2.material.io/design/color/dark-theme.html

	Underscore function used to join all arguments together


	CHECKLIST:
	[x] Announcements
	[x] Week
	[x] Year
	[x] Progress
	[x] College
	[ ] Resources
	[?] Focus Area Page
	[?] Project Page
	[ ]	Checkpoint Page
	[ ] Plans Tab
	[x] Course page (click from year page)
	[ ] Document editor (skip document itself)
	[x] Notifications drawer
	[ ] Progresss grades modal
	[x] "View Rubric" modal
	[x] Mentor checkin prework drawer
	[x] Navigation bar
	[x] BetterSLP components

	Extras:
	[x] summitlearning.org/enroll
 */

@import "colors.styl"
@import "selectors/_global.styl"
@import "selectors/announcements.styl"
@import "selectors/focusArea.styl"
@import "selectors/progress.styl"
@import "selectors/project.styl"
@import "selectors/week.styl"
@import "selectors/year.styl"
@import "selectors/checkpoint.styl"


_(args...)
	join(',', args)

hover(selector)
	selector + ":hover"

focus(selector)
	selector + ":focus"

placeholder(selector)
	selector + "::placeholder"


html.bslp-dark-mode-transitioning *
	transition: background-color 300ms, color 150ms, border-color 300ms, box-shadow 300ms !important

html[bslp-dark]
	color-scheme: dark // Dark Scrollbar

	*
		box-shadow: none !important

	body // not important
		color: lightSecondary

	
	//? Background Colors

	{_(
		yearHorizontalScrollButton,
		rubricTopBarDropdownContainer
	)}
		background-color: transparent !important
		
	&, {_(
		body, CheckpointBody, rubricTopBarStandalone
	)}
		background-color: dark900 !important

	{_(
		panel,
		navigation,
		listGroupItem,
		announcementContainer,
		progressFeedLineStopIcon,
		progressNoteTextArea,
		project_page,
		checkpointNavBar,
		goalPopoverStepContainer,
		weekGoalPopover,
		goalPopoverInputContainer,
		goalPopoverFooter,
		goalPopoverChild,
		modal,
		alertInfo,
		megaPhoneContainer,
		megaPhoneControls,
		CheckpointTitle,
		CheckpointSwitcher,
		CheckpointHead,
		CheckpointHeadTitle,
		CheckpointFocus,
		CheckpointInputBox,
		CogSkills, // Needed since there are transparent colors
		CheckpointModal,
		CheckpointTopBarIconButtons,
		CheckpointBackButton,
		rubricTableCell,
		rubricTopBarModal,
		rubricTopBarDropdown,
		rubricTopBarSearchInput
	)}
		background-color: dark700 !important
	
	//! ONLY USE IF SLIGHT ELEVATION INCREASE NEEDED
	{_(
		mentorCheckinDrawerContainer,
		mentorCheckinDrawerToggleButton
	)}
		background-color: dark600 !important

	{_(
		floatingGoalPanel,
		selectFormOption,
		activeNavigationItem,
		yearTooltip,
		announcementBody,
		yearProjectDefault,
		assesmentProgressBar,
		hover(navigationItem),
		focus(navigationItem),
		hover(listGroupButton),
		hover(yearHorizontalScrollButton),
		weekCalendarTodayHighlight,
		indexCardCircleBackground,
		dropdownMenu,
		rangeContainer,
		rangeLower,
		standardizedTestScoreGoalEmpty,
		progressFeedLineGrayIcon,
		progressNoteCancelButton,
		project_page,
		checkpointSelected,
		hover(checkpointNavBar),
		projectOverviewTeacher,
		CheckpointSwitcherOpen,
		notificationDrawerBackground,
		rubricTableHeader
	)}
		background-color: dark400 !important

	// Elevate 1 layer (transparent white)
	{_(
		formElement,
		token,
		yearFocusAreaDefault,
		announcementCourseNameBadge,
		dropdownToggle,
		hover(dropdownItem),
		focus(dropdownItem),
		userProfileAvatar,
		goalPopoverCreateButtonDisabled,
		buttonDefault,
		hoveredTableRow,
		hover(focusAreaResourceContainer),
		gradeSummaryFocusAreaTabAreaCount
	)}
		background-color: darkElevate !important

	{_(
		rangeMiddle,
		goalPopoverCreateButton
	)}
		background-color: brandGrape !important


	//? Colors

	{_(
		appBody,
		heading,
		dropdownToggleButton,
		formElement,
		selectFormOption,
		announcementContainer,
		announcementText,
		assesmentProgressText,
		progressCourseName,
		progressActivityPrimary,
		progressGentorCardText,
		goalPopoverInputForm,
		checkboxFormListLabels,
		textCardTitle,
		CheckpointSwitcherTitle,
		CheckpointFocus,
		CheckpointBackButton,
		rubricTableHeader
	)}
		color: lightPrimary !important
	
	{_(
		token,
		rangeLabel,
		listGroupItem,
		courserowLabel,
		yearFocusAreaDefault,
		yearProjectDefault,
		announcementCourseNameBadge,
		textMuted,
		dropdownItem,
		goalPopoverText,
		checkboxListGroup,
		progressFeedLineGrayIcon,
		progressNoteCancelButton,
		placeholder(goalPopoverInputForm),
		goalPopoverChild,
		modalText,
		helpIcon,
		mentorNote,
		CheckpointFeedback,
		CheckpointInputBox,
		CheckpointSavingChanges,
		CheckpointIcon_History,
		CheckpointIcon_Print,
		CogSkillScoreNumber,
		CogSkillMathLevel,
		CheckpointTopBarIconButtons,
		focusAreaInfoText,
		focusAreaInfoScoreNeededToPass,
		focusAreaResourceDescriptionText,
		notificationDrawerSeenTitle,
		focusAreaSeeAllTakesLink,
		gradeSummaryPieChartTotalGradeText,
		gradeSummaryFocusAreaTabAreaCount
	)}
		color: lightSecondary !important

	{_(
		yearCogSkillAverage,
		yearMonthsHeader,
		CogSkillsDetail,
		CogSkillScoreDescription,
		notificationDrawerSubtitle
	)}
		color: lightSubtle !important

	{_(
		announcementLink,
		buttonLink,
		buttonDefault,
		progressWeeklyGoalSummaryLink,
		progressLetterGrade,
		indexCardIcon,
		tabActive,
		mentorCheckinDrawerOpenButtonIcon,
		notificationDrawerUnseenTitle,
		rubricCogSkillLink,
		gradeSummaryGradingPolicyLink
	)}
		color: brandGrape !important

	//? Border Colors

	{_(projectToken, CheckpointTitleBarDropdown)}
		border-color: transparent !important

	{_(
		divider,
		panelFooter,
		tableItem,
		listGroupItem,
		formElement,
		yearTooltip,
		progressAddNoteComposer,
		dropdownToggleButton,
		progressWeekSection,
		progressFeedLineStopIcon,
		progressNoteCancelButton,
		goalPopoverInputContainer,
		goalPopoverCreateButton,
		weekGoalPopover,
		goalPopoverStepContainer,
		focus(goalPopoverInputContainer),
		buttonDefault,
		buttonLink,
		button,
		projectNav,
		modalHeaderContainer,
		modalFooterContainer,
		checkpointCardContainer,
		CogSkills, // Todo: not actually working hmm
		CogSkillBreakdownContainer,
		mentorCheckinDrawerFooter,
		notificationDrawerHeader,
		rubricTable,
		rubricTableHeader,
		tableDivider,
		gradeSummaryTabsContainer,
		gradeSummaryBreakdownTable,
		gradeSummarySelectedTabContainer,
		gradeSummaryProjectsTabDivider
	)}
		border-color: darkDivide !important

	{_( // For borders that are actually backgrounds
		progressFeedLine,
		CogSkillScoreDetailDivider
	)}
		background-color: darkDivide !important
		
	{_( // Focus area section
		requestPanel,
		diagnosticPanel,
		introductionPanel,
		objective
	)}
		box-shadow: 0 0 0 1px darkDivide !important

	
	//? Status Colors

	{_(yearFocusAreaGreen, yearProjectGreen, progressFeedLineGreenIcon, checkpointGreenIcon, masterContentMessage, seeAllTakesScoreTokenGreen  )}
		color: statusGreen !important
		background-color: statusGreenBg !important
	{_(yearFocusAreaYellow, yearProjectYellow, checkpointYellowIcon )}
		color: statusYellow !important
		background-color: statusYellowBg !important
	{_(yearFocusAreaRed, yearProjectRed, progressFeedLineRedIcon, checkpointRedIcon, checkpointCopyPasteOldWorkWarning, seeAllTakesScoreTokenRed )}
		color: statusRed !important
		background-color: statusRedBg !important

	{_(yearTooltipTextGreen, scoreBadgeGreen)}
		color: statusGreen !important
	{_(scoreBadgeYellow)}
		color: statusYellow !important
	{_(yearTooltipTextRed, scoreBadgeRed)}
		color: statusRed !important

	{_(
		announcementBodyUnseen,
		CogSkillScoreHighligtedText,
		CogSkillsSelectedItem,
		notificationDrawerUnseen
	)}
		background-color: brandGrapeBg !important
	

	//? One-off styles
	//! EXPLAIN WHY IT NEEDS TO EXIST

	{loadingSpinner} // No border color classes specific enough for these border colors
		border-left-color: darkDivide !important
		border-right-color: darkDivide !important
		border-bottom-color: darkDivide !important

	{CheckpointTitleFade} // Very specific gradient
		background: linear-gradient(90deg, transparent, dark700) !important
	
	{projectNavDivider} // Divider uses box shaodw, not border
		box-shadow: 1px 0 0 darkDivide !important

	{tabActive} // No way to set box shadow color by itself
		box-shadow: inset 0 -2px 0 brandGrape !important

	{CogSkillsSelectedItem} // No way to set box shadow color by itself.
		box-shadow: inset 5px 0 0 0 brandGrape !important

	{CheckpointTopBarIconButtonsSvg} // Needs to set SVG fill rather than background/text color
		fill: lightPrimary !important
	
	{focusAreaTourNub} // Unique colors for focus area tour buttons
		background-color: focusAreaTourBg !important
		border-color: focusAreaTourBg !important
		{focusAreaTourNubText}
			color: focusAreaTour !important

	{mentorCheckinDrawerToggleButton} // Borders are weird on checkin toggle nub
		border-right: none
		border-top-right-radius: 0
		border-bottom-right-radius: 0

	{notificationDrawerArrow} // Popover arrow with css border
		border-top-color: dark400 !important

	{rubricSearchKeyword} // Color rubric search highlight text dark since it has a yellow background
		color: dark900 !important

	{gradeSummaryPieChart} // Use a filter since it's a canvas and can't be styled
		filter: brightness(0.85) invert(1) hue-rotate(.5turn) !important
	{CheckpointGradeScore}
		background-color: #5751d2 !important