/*
 *DARK MODE

	All dark mode styles get nested inside of the html tag with the attribute of "bslp-dark".
	This is an attribute since its easy to add or remove when debugging in dev tools.
	Colors for design theme can be found in `helpers/colors.styl'.
	Selectors for styling go in its respective route in the `selectors` folder.
	Use `selectors/_global.styl` for selectors that are used on all routes.
	Only use simple values or things already in the design system.
	Only add to the design system if necessary

	Adhere to the material.io dark theme specification as best as possible:
	https://m2.material.io/design/color/dark-theme.html

	Underscore function used to join all arguments together


	CHECKLIST:
	[ ] Announcements
	[ ] Week
	[x] Year
	[ ] Progress
	[ ] College
	[ ] Resources
	[ ] Focus Area Page
	[ ] Project Page
	[ ] Plans Tab
	[x] Course page (click from year page)
	[ ] Document editor (skip document itself)
	[ ] Notifications drawer
	[ ] Progresss grades modal
	[ ] "View Rubric" modal
	[ ] Mentor checkin prework drawer
	[ ] Navigation bar
	[ ] BetterSLP components
 */

@import "colors.styl"
@import "selectors/_global.styl"
@import "selectors/announcements.styl"
@import "selectors/focusArea.styl"
@import "selectors/progress.styl"
@import "selectors/project.styl"
@import "selectors/week.styl"
@import "selectors/year.styl"


_(args...)
	join(',', args)

hover(selector)
	selector + ":hover"

focus(selector)
	selector + ":focus"


html.bslp-dark-mode-transitioning *
	transition: background-color 300ms, color 150ms, border-color 300ms, box-shadow 300ms !important

html[bslp-dark]
	color-scheme: dark // Dark Scrollbar

	*
		box-shadow: none !important

	
	//? Background Colors

	{_(
		yearHorizontalScrollButton
	)}
		background-color: transparent !important
		
	&, {body}
		background-color: dark900 !important

	{_(
		panel,
		navigation,
		listGroupItem,
		announcementContainer
	)}
		background-color: dark700 !important

	{_(
		activeNavigationItem,
		yearTooltip,
		announcementBody,
		yearProjectDefault,
		assesmentProgressBar,
		hover(navigationItem),
		focus(navigationItem),
		hover(listGroupButton),
		hover(yearHorizontalScrollButton),
		calendarToday
	)}
		background-color: dark400 !important

	// Elevate 1 layer (transparent white)
	{_(
		token,
		yearFocusAreaDefault,
		announcementCourseNameBadge
	)}
		background-color: darkElevate !important


	//? Colors

	{_(
		appBody,
		heading,
		announcementContainer,
		announcementText,
		assesmentProgressText
	)}
		color: lightPrimary !important
	
	{_(
		token,
		courserowLabel,
		yearFocusAreaDefault,
		yearProjectDefault,
		announcementCourseNameBadge
	)}
		color: lightSecondary !important

	{_(
		yearCogSkillAverage,
		yearMonthsHeader
	)}
		color: lightSubtle !important

	{_(
		announcementLink,
		buttonLink,
		buttonDefault
	)}
		color: brandGrape !important


	//? Border Colors

	{_(
		tableItem,
		listGroupItem,
		yearTooltip
	)}
		border-color: darkDivide !important

	
	//? Status Colors

	{_(yearFocusAreaGreen, yearProjectGreen)}
		color: statusGreen !important
		background-color: statusGreenBg !important
	{_(yearFocusAreaYellow, yearProjectYellow)}
		color: statusYellow !important
		background-color: statusYellowBg !important
	{_(yearFocusAreaRed, yearProjectRed)}
		color: statusRed !important
		background-color: statusRedBg !important

	{_(announcementBodyUnseen)}
		background-color: brandGrapeBg !important

